//_base.css

//body {background-color: #646464}

$font-stack-base: noto-sans-base;
$primary-color: #bbbbbb;


p.noto-sans-base {
    color: $primary-color;
}

$font-stack-code: noto-sans-mono-code;
$code-color: #bbbbbb;

code {
    font-family: $font-stack-code;
    color: $code-color;
}

main {
    --gradDark: hsl(144, 100%, 89%);
    --gradLight: hsl(42, 94%, 76%);
    background: linear-gradient(to bottom, var(--gradDark),
var(--gradLight));
    padding: 120px 40px 40px 40px;
    min-height: 100vh;
}
