//_base.css
$font-stack-base: noto-sans-base;
$primary-color: #bbbbbb;

body {
    font: $font-stack-base;
    color: $primary-color;
}

$font-stack-code: noto-sans-mono-code;
$code-color: #bbbbbb;

code {
    font: $font-stack-code;
    color: $code-color;
}
