---
---
@import 
    "main",
    "initialize",
    "base";

.inverse {
    background-color: $primary-color;
    color: #181818;
}

.inverse-code {
    background-color: $code-color;
    color: #212121;
}