---
---
@import 
    "main",
    "initialize";

@use 'base';

.inverse {
    background-color: base.$primary-color;
    color: #181818;
}

.inverse-code {
    background-color: base.$code-color;
    color: #212121;
}